<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Payout address:</strong>
  <%= @user.payout_address %>
</p>

<p>
  <strong>Wallet address:</strong>
  <%= @user.wallet_address %>
</p>

<p>
  <strong>Is anonymous:</strong>
  <%= @user.is_anonymous %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @user.is_admin %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
