<div class="row">
  <div class="col-md-6"> 
    <div class="portlet box red">
      <div class="portlet-title">
        <div class="caption">
          Forgot your password ?
        </div>
      </div>
      <div class="portlet-body form">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html:{method: :post, class:"form-horizontal"}) do |f| %>
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-12">
                <%= devise_error_messages! %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :email, class:"col-md-3 control-label" %>
              <div class="col-md-4">
                <%= f.email_field :email, autofocus:"true", class:"form-control" %>
              </div>
            </div>
          </div>
          <div class="form-actions fluid">
            <div class="col-md-offset-3 col-md-9">
              <%= f.submit "Send me reset password instructions", class:"btn green" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>