<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @worker.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Is anonymous:</strong>
  <%= @worker.is_anonymous %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
