<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coin_id %><br>
    <%= f.text_field :coin_id %>
  </div>
  <div class="field">
    <%= f.label :raw %><br>
    <%= f.text_field :raw %>
  </div>
  <div class="field">
    <%= f.label :txid %><br>
    <%= f.text_field :txid %>
  </div>
  <div class="field">
    <%= f.label :ourid %><br>
    <%= f.text_field :ourid %>
  </div>
  <div class="field">
    <%= f.label :block %><br>
    <%= f.text_field :block %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
