<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>Hash Farm</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="favicon.ico" />
</head>
<% if controller.action_name.eql?('promo') %>
  <body class="page-header-fixed page-full-width">
<% else %>
  <body class="page-header-fixed">
<% end %>

<%= render "widgets/header" %>

<div class="clearfix"></div>

<div class="page-container">
  <%= render "widgets/sidebar" %>
  <%= yield %>
</div>

<%= render "widgets/footer" %>

<script>
  jQuery(document).ready(function() {    
     App.init(); // initlayout and core plugins
  });
</script>

</body>
</html>