<p id="notice"><%= notice %></p>

<p>
  <strong>Coin:</strong>
  <%= @account.coin_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @account.address %>
</p>

<p>
  <strong>Label:</strong>
  <%= @account.label %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
