<h1>Listing coins</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Second per block</th>
      <th>Difficulty retarget</th>
      <th>Algo</th>
      <th>Block confirmation</th>
      <th>Transaction confirmation</th>
      <th>Rpc url</th>
      <th>Bitcointalk url</th>
      <th>Website</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.name %></td>
        <td><%= coin.code %></td>
        <td><%= coin.second_per_block %></td>
        <td><%= coin.difficulty_retarget %></td>
        <td><%= coin.algo %></td>
        <td><%= coin.block_confirmation %></td>
        <td><%= coin.transaction_confirmation %></td>
        <td><%= coin.rpc_url %></td>
        <td><%= coin.bitcointalk_url %></td>
        <td><%= coin.website %></td>
        <td><%= link_to 'Show', coin %></td>
        <td><%= link_to 'Edit', edit_coin_path(coin) %></td>
        <td><%= link_to 'Destroy', coin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coin', new_coin_path %>
